# Prerequisites
*.d


# clion extra files
*.json
*.cbp
*.cmake
*.marks
*/cmake-build-debug/
*/clion-environment.txt
*/clion-log.txt
*clion*
*CMake*
/Prototype/verifier/cmake-build-debug/
/Prototype/Generator/cmake-build-debug/
/Prototype/Gateway/cmake-build-debug/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Prototype/Executables/

# OS files
.directory
