# Prerequisites
*.d


# clion extra files
*.json
*.cbp
*.cmake
*.marks
Prototype/Gateway/cmake-build-debug/**
Prototype/Generator/cmake-build-debug/**
Prototype/verifier/cmake-build-debug/**
**/clion-environment.txt
**/clion-log.txt
**/cmake-build-debug/**
*clion*
*CMake*
**/*.txt
**/*.log
**/*.bin
**/*.ninja
**/*.xml


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib


#Java class files
*/out/production/*
**/out/production/**
*.class
*.idea/*


# Executables
*.exe
*.out
*.app
/Prototype/Executables/

# OS files
.directory
